header {
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #2d383a;
    color: whitesmoke;

    .nav-header {
        width: 30%;
        height: 100%;
        justify-content: space-between;
        margin-right: 30px;
        align-items: center;

        li {
            list-style: none;

            a {
                font-size:20px;
                height: 100%;
                color: whitesmoke;
                text-transform: capitalize;

                &:hover {
                    color: red;
                }
            }
        }

        .svg {
            fill: white;
            height: 30px;
            width: 30px;

            &:hover {
                fill: red
            }
        }
    }







    .logo {
        color: whitesmoke;
    }

    .btn-menu {
        height: 45px !important;
        width: 35px !important;
        cursor: pointer;

    }

    .btn-logout {
        background-color: inherit;
        font-size: 20px;
        color: white;

        &:hover {
            color: red;
        }
    }

    .menu {
        position: fixed;
        padding: 0px;
        top: 0;
        right: 0;
        height: 100vh;
        width: 150px;
        background-color: hsla(0, 0%, 100%, .8);
        z-index: 1;


        a {

            color: #fff;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #000;
            height: 10%;
            width: 100%;
            border-bottom: 1px solid grey;
        }

    }


    .screen.menu-open {
        cursor: pointer;
        position: fixed;
        height: 200%;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.25);
        z-index: 1;
    }
}