header {
    ul {
        width: 20%;
        height: 100%;
        justify-content: space-between;
        margin-right: 30px;
        align-items: center;

        li {
            list-style: none;

            a {
                height: 100%;
                color: whitesmoke;
                text-transform: capitalize;
            }

            a:hover {
                color: goldenrod;
            }
        }
    }
}

.logo {
    color: whitesmoke;

}

.header {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #564D80;
    color: whitesmoke;
}

.header-logo {
    margin-left: 30px;
}