.user-orders {
    .order {
        display: flex;
        border: 1px solid #aaaaaa;
        margin-bottom: 15px;

        img {
            width: 200px;
        }

        .order-details {
            width: 100%;
            height: 100%;
            padding: 30px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .order-id {
                direction: rtl;
            }

            a {
                color: #22AA22;
            }
        }

        .orders-list {
            display: flex;
            flex-wrap: wrap;

        }
    }


    .no-orders {
        h1 {
            font-size: 30px;
            margin-bottom: 5px;
        }
    }

}


@media (max-width:500px) {
    .order-details {
        padding: 10px !important;
    }
}