.user-account {
    label {
        text-transform: capitalize;
    }
}


.img-togglePassword {
    width: 40px;
    height: 40px;
}

.change-account {
    justify-content: space-around;

    .change-email,
    .change-password {
        min-width: 140px;
        justify-content: space-between;
    }
   
}

.btn-save-account {
    text-transform: capitalize;
}





.password-container{
    align-items: center;
    border: 1px solid #aaa;
    input{
        padding: 10px;
        width: 100%;
        border: 0;
        outline:none;
        border: none !important;
    }
    .img-togglePassword{
        margin: 0;
        height: 30px;
        width: 30px;
        background-color: transparent;
    }
}


.password {
    // .img-togglePassword {
    //     position: relative;
    //     left: 100%;
    //     width: 40px;
    //     height: 40px;
    // }

    
    .label-password {
        display: block;
    }



}