.user-account {
    label {
        text-transform: capitalize;
    }
}


.img-togglePassword {
    width: 40px;
    height: 40px;
}

.change-account {
    justify-content: space-around;

    .change-email,
    .change-password {
        min-width: 140px;
        justify-content: space-between;
    }

}

.btn-save-account {
    text-transform: capitalize;
}