.preview {
    height: 100%;
    border: 1px solid rgb(238, 237, 237);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 20px;
    p {
        color: black;
        text-transform: capitalize;
    }

    .img-item {
        width: 250px;
    }

    .red {
        fill: #f79898;
    }

    .delete-item {
        font-weight: bolder;
        font-size: large;
    }

    .item-price {
        font-size: large;
    }

    .item-name {
        color: rgb(184, 180, 180);
        cursor: pointer;
    }

    .img-container {
        // height: 95%;
        margin: 0 auto;
        display: flex;
        align-items: center;
    }

    .heart-img {
        height: 30px;
        width: 30px;
        cursor: pointer;
    }

    .img-price {
        align-items: center;
    }
}