.user-edit{
    height: 200px;
    width: 100%;
    min-width: 200px;
    justify-content: space-between;
    div{
        height: 100%;
    }
    label{
        text-transform: capitalize;
    }

       
}
