.edit {
    text-transform: capitalize;
        
    button {
        text-transform: capitalize;
    }

    img {
        height: 150px;
        width: 150px;
    }

    height: 70vh;

    .details {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 480px;

        div {
            display: flex;
            justify-content: space-between;

            select {
                width: 50%;
            }

            input {
                width: 70%;
            }

        }


    }




}


@media (max-width: 1000px) {

    .edit {
        text-transform: capitalize;
            flex-direction: column;
        button {
            text-transform: capitalize;
        }
    
        img {
            height: 100px;
            width: 100px;
        }
    
        height: 70vh;
    
        .details {
            display: flex;
            flex-direction: column;
            width: 100%;
    
            div {
                display: flex;
                justify-content: space-between;
    
                select {
                    width: 50%;
                }
    
                input {
                    width: 70%;
                }
    
            }
    
    
        }
    
    
    
    
    }
}