.items-list-cart{
width: 50%;

}

.cart-container {
    justify-content: space-between;
}

.cart-preview-container {
    justify-content: space-between;
    border: 1px solid #aaa;
    width: 100%;
    margin-top: 30px;
    height: 229px;
    border-radius: 3px;

    a {
        img {
            width: 300px;
            object-fit: cover;
            height: 100%;
        }
    }

}

.buy-now {
    width: 40%;
    height: 400px;
    padding: 20px;
    margin-top: 30px;
    border: 1px solid #aaa;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 3px;
    button{
        background-color: black;
        color: white;
        height: 40px;
    }
}

.item-price-cart {
    margin-top: 27px;
    width: 7%;
}

.item-details-cart {
    justify-content: space-between;
    width: 30%;
    padding: 15px;
}

.cancel-edit-cart-item {
    width: 7%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;

    a {
        margin-top: 10px;
    }

    .delete-svg {
        cursor: pointer;
    }
}

.phone {

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    input[type=number] {
        -moz-appearance: textfield;
    }
}



.empty-cart {

    h2,
    h3 {
        margin-bottom: 15px;
    }
}

@media (max-width: 1000px) {
    .cart-container {
        flex-direction: column;
        align-items: center;

        .items-list-cart {
            align-items: center;
        }
    }

    .cart-preview-container {
        justify-content: space-between;
        width: 70%;
        min-width: 300px;
        margin-top: 30px;
        height: 229px;
        border-radius: 3px;

        a {
            img {
                width: 200px;
                object-fit: cover;
                height: 100%;
            }
        }

    }

    .buy-now {
        min-width: 300px;
        margin-bottom: 30px;
    }

    .cancel-edit-cart-item {

        height: 30%;
        margin-right: 10px;
    }
}