.profile-welcome {
    margin-bottom: 50px;
    }

.profile {}

.nav-profile {
    flex-direction: column;
    justify-content: space-between;
    width: 40%;
    max-height: 220px;
    min-height: 220px;
}

.profile-section {
    width: 90%;
    margin: auto;
}

.profile-btn {
    text-align: left;
    font-size: 20px;
    border: 1px transparent solid;
    padding: unset;
    width: fit-content;
}

.profile-btn:hover {
    border-bottom: 1px black solid;
}