
.profile-welcome{
    margin-bottom: 50px;
    margin-top: 20px;
}

.profile{}

.nav-profile {
    flex-direction: column;
    justify-content: space-between;
    width: 40%;
    max-height: 220px;
    min-height: 220px;
}

.profile-section{
    width: 49%;
    margin: auto;
}

.profile-btn{
    background-color: transparent;
    text-align: left;
    font-size: larger;
    width: 30%;
    padding-bottom: 3px;
    border: 1px transparent solid;
    padding: unset;
    outline: none;
}

.profile-btn:hover{
    border-bottom: 1px black solid;
}