.user-favs {
    .item-list {
        .img-item {
            width: 200px;
        }
    }


    .no-favs {
        h1 {
            font-size: 30px;
            margin-bottom: 5px;
        }
    }
}