.front-img {
    width: 500px;
}


.hero-background {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 500px;
    width: 100%;
    background-image: url('../../assets/1.jpeg');
}

.browse-type {
    position: relative;
}

.tag {
    font-size: 40px;
    position: absolute;
    bottom: 100px;
    right: 100px;
    color: red;
    margin: 5px;
    // padding: 10px 70px;
}

.types {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    img {
        width: 250px;
        height: 225px;
        object-fit: cover;
    }
}

.contact {
    background-color: #02033a;
    color: white;

    ul {
        li {
            list-style: none;

            a {
                color: white;
            }
        }
    }

}