.front-img {
    width: 500px;
}


.hero-background {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 500px;
    width: 100%;
    background-image: url('../../assets/1.jpeg');
}

.browse-type {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        margin-bottom: 2rem;

    
        img {
            border-radius: 5px 0 0;
        }
    
        div {
    
            border-radius: 5px;
            width: 325px;
            height: 200px;
    
            transition: opacity 0.3s;
            position: relative;
        }
    

        

        &::before {
            content: "";
            display: block;
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(white, .6);
            background: linear-gradient(135deg, rgba(white, .2) 0%, rgba(red, 0.15) 100%);
    }
}

.browse-type:hover{
    cursor: pointer;
    opacity: 0.9;
    h3{

        color: rgb(247, 152, 152);
    }
}

.tag {
    bottom: 90px;
    margin: 0;
    font-size: 2rem;
    color: white;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
}

.types {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    img {
        width: 250px;
        height: 250px;
        // margin: 20px;
        object-fit: cover;
    }
}

.contact {
    background-color: #02033a;
    color: white;

    ul {
        li {
            list-style: none;

            a {
                color: white;
            }
        }
    }

}


@media (max-width: 450px){

    .types{
        flex-wrap: unset;
        flex-direction: column;
        align-items: center;
    }
}