.forgot-password {


    .app-input {
        width: 250px;
        height: 35px;
        padding: 3px 10px;
        font-size: 13px;
        border: 1px solid #C7C7C7;
        color: #231F20;
        border-radius: 0;
        outline: none;
    }

    .app-btn {
        width: 250px;
    }

    label {
        font-size: 22px;
    }

    .after-confirm,
    .before-confirm {
        align-items: center;
    }

    .img-togglePassword {
        margin: 0;
        height: 30px;
        width: 30px;
        background-color: transparent;
    }

    .confirm-new-pass {
        align-items: center;
        border: 1px solid #aaa;

        .app-input {
            padding: 10px;
            border: 0;
            outline: none;
            border: none !important;
            width: 220px;
        }
    }
}