.filter-container {
    padding: 15px;
    border: 1px solid black;
    z-index: 0;
}


.filter {
    justify-content: center;
    padding: 15px;
    margin-bottom: 15px;
    flex-wrap: wrap;
    z-index: -2;

    li {
        cursor: pointer;
    }



    // .active {
    //     color: lighten(red, 25%)
    // }

    .app-input {
        width: unset;
    }



    .input-range {
        width: 50%;
    }
}


.colors-container {
    flex-wrap: wrap;
    border: 1px solid black;
    justify-content: space-between;
}

.select {
    z-index: 2;
    margin-right: 15px;


    label {
        font-family: SecularOne;
        text-align: center;
        margin-bottom: 6px;
    }

    .btn-sort {
        min-width: 100px;
        height: 40px;
        position: relative;
        margin-right: 5px;
        vertical-align: middle;
        border: 1px solid #dbdbdb;
        background-color: #fff;
        border-radius: 2px;
        padding: 0 10px 0 15px;
        cursor: pointer;
        font-size: .875rem;
        line-height: 1.0625rem;
        line-height: 35px;

    }


    ul {
        width: 150px;
        max-height: 200px;
        overflow: auto;
        overflow-x: hidden;
        background: #fff;
        border: 1px solid #ccc;
        z-index: 9;
        height: auto;
        position: absolute;
        top: 194px;

        li {
            padding: 11px 10px;

            &:hover {
                background-color: #ccc;

            }
        }
    }

    .active {
        font-weight: bold;
    }
}


.opt {
    border: 1px solid black;
    padding: 5px;
    width: 25px;
    height: 25px;
    margin: 5px;
}