.filter {

    .pants-types {
        &:hover {
            display: block;
        }
    }

    .app-input{
        width: unset;
    }

    .list {
        justify-content: space-around;
        list-style-type: none;

        .sublist {
            background-color: white;
            position: absolute;
            list-style-type: none;
            padding: 0px;

            li {
                &:hover {
                    border-bottom: 1px black solid;
                }
            }
        }
    }

    .input-range {
        width: 50%;
    }
}