.filter {

 
    li {
        cursor: pointer;
    }


    .btn-sort {
        width: 150px;

        &:hover {
            color: red;
        }
    }

    .active {
        color: red;
    }

    .app-input {
        width: unset;
    }

   

    .input-range {
        width: 50%;
    }
}


.colors-container {
    flex-wrap: wrap;
    justify-content: space-between;
}




.opt {
    border: 1px solid black;
    padding: 5px;
    width: 25px;
    height: 25px;
}