.multi-select {
    width: 200px;

    .dropdown-container {
        width: 100%;

        .dropdown-content>* {
            width: 100%;
        }

    }

}



.unsaved-changes {
    color: red;
}


.saved-changes {
    color: green;
}


@media(max-width:500px) {
    .multi-options {
        button {
            width: fit-content;
        }

        .multi-select {
            div {
                max-width: 125px;
            }
        }
    }
}