.item-details {
    text-transform: capitalize;
    align-items: center;
    img{
        margin-top:30px;
        width: 600px;
        align-self: center;
    }
    .details{
        display: flex;
        flex-direction: column;
        // width: 600px;
    }
    
}


.details-img{
    width: 250px;
}

.product-intro{
    margin-top: 25px ;
    .price{
        // color: #d53333;
        color: black;
        font-size: 24px;
        font-family: 'Arial Black';
        margin-bottom: 25px ;
    }
    .details-item-id{
        font-size: smaller;
        color: rgb(158, 157, 157);
    }
}

.product-size{
    border-top: 1px dashed #e5e5e5;
    padding-top: 10px;
    button{
        width: 70%;
    }
}