.password {
    .img-togglePassword {
        position: relative;
        left: 100%;
        width: 40px;
        height: 40px;
    }

    .input-password {
        background-image: url('../../assets/img/hide-password.png');
        margin-bottom: 10px;
    }

    .label-password {
        display: block;
    }



}