footer {
    color: black;
    margin-left: 10px;

    a {
        color: black;
    }

    ul {
        list-style-type: none;
        padding: 0;

        img {
            margin-right: 5px;
        }

    }

    img {
        width: 30px;
        height: 30px;
    }

}